.background{
    display: flex;
    
    
}


.links{
    float: right;
    font-size: 2em;

    
}
.name{
    font-size: 2em;
}

.links a {
    text-decoration: none;
    color: rgba(9, 141, 207, 0.868);
}

.navbar{
    color: rgba(9, 141, 207, 0.868);
    margin: 10px 5px 15px;
}
body{
    background-color: rgba(240, 248, 255, 0.982);
}


.block{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 90%;
    background-color: rgb(16, 163, 153);
    color: white;
    padding: 1rem;
}


.block2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 700px;
    height: 550px;
    background-color: rgba(56, 190, 197, 0.843);
    color: white;
    padding: 1rem;
}

/* .left{
    float: left;
} */

.career{
    font-size: 1.3em;
    font-family: cursive;
}

.quote_1{
    font-size: 1.5em;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

.quote_2{
    text-align: center;
    padding: 15px;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.social{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.1em;
}

.social a{
    text-decoration: none;
    font-size: 2em;
    color: rgba(9, 141, 207, 0.868);
}

.fa-facebook{
    margin: 15px;

}

.fa-instagram{
    margin: 15px;

}

.fa-twitter{
    margin: 15px;

}

.about{
    display: block;
    flex-wrap: wrap;
    font-family: cursive;
    border-bottom: 1px solid;
    width: 100%;
    margin: 0;
    
}

.child{
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative; top: 10px;
    padding: 5px;
    margin-bottom: 20px;
    
}

.child h2 {
    font-size: 10px;
    margin: 5px;
}



.time h2{
    display: flex;
    flex-wrap: wrap;
    font-size: 335px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative; top: 10px;
    padding: 0px;
    
}


.pic1{
   
    float: left;
    margin: 0px;
    border-radius: 1px;
    width: 150px;
    padding: 10px;
}
.pic2{

    float: left;
    margin: 5px; 
    border-radius: 2px;
    width: 150px;
    padding: 10px;
}
.pic3{
  
    float: left;
    margin: 5px;
    border-radius: 1px;
    width: 525px;
    height: 102px;
    padding: 10px;
}


.develop {
    display: block;
    font-family: cursive;
    border-bottom: 1px solid;
    width: 100%;
    
}


.project_1{
    background-color: white;
    color: black;
    display: block;
    text-align: left;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative; top: 10px;
    padding: 2px;
}

.project_2{
    background-color: white;
    color: black;
    display: block;
    text-align: right;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative; top: 10px;
    padding: 1px;
}
.project_3{
    background-color: white;
    color: black;
    display: block;
    text-align: left;
    margin: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative; top: 10px;
    padding: 1px;
}

.pic4{
    display: block;
    float: left;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 150px;

}

.pic5{
    display: block;
    float: right;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 150px;

}
.pic6{
    display: block;
    float: left;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 150px;

}

.form {
    position: relative;
    top: 50px;
    left: 50px;
    display: block;
    white-space: nowrap;
    height: 20px;
    width: 200px;
    padding: 2px;
    margin:2px 0 20px 10px
}

#email{
    white-space: nowrap;
    margin-left: 34px;
}

